/*
100 - Thin
200 - Extra Light
300 - Light
400 - Medium
700 - Bold
800 - Semi Bold
900 - Extra Bold
*/

@font-face {
	font-family: 'JetBrains Mono';
		src: url('./fonts/JetBrainsMono-Thin.woff2') format('woff');
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'JetBrains Mono';
		src: url('./fonts/JetBrainsMono-ExtraLight.woff2') format('woff');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'JetBrains Mono';
		src: url('./fonts/JetBrainsMono-ExtraLightItalic.woff2') format('woff');
	font-style: italic;
	font-weight: 200;
}

@font-face {
	font-family: 'JetBrains Mono';
		src: url('./fonts/JetBrainsMono-Light.woff2') format('woff');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'JetBrains Mono';
		src: url('./fonts/JetBrainsMono-LightItalic.woff2') format('woff');
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'JetBrains Mono';
		src: url('./fonts/JetBrainsMono-Medium.woff2') format('woff');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'JetBrains Mono';
		 src: url('./fonts/JetBrainsMono-MediumItalic.woff2') format('woff');
	font-style: italic;
	font-weight: 400;
}

:root {
	--page-c1: #262626;
	--page-c2: #858587;
	--page-c3: #c7c7c9;
	--page-c4: #dfe0e3;
	--page-c5: #e0e0e3;
	--page-c6: #eeeff2;
	--page-c7: #656566;
	--page-c8: #121212;
	--navbar-bg: #d7d8da;
	--main-info-bg: rgba(238, 239, 242, 0.45);
}

* {
  box-sizing: border-box;
}

html {
	overflow-y: scroll;
	scroll-behavior: smooth;	
}

/* desert background image, set font */
body {
	background-image: url(assets/desert.png);
	background-repeat: no-repeat;  
	background-position: center 0;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	font-family: 'JetBrains Mono';
	margin: 0;
	padding: 0;
}

h1 {
	font-style: normal;
	font-weight: 300;
	letter-spacing: -0.35rem;
	font-size: 4.5rem;
	margin: 0;
	padding: 0;
}

/* these text styles are set using divs */
h2, h3, h4, p {
	font-style: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
}

.font-thin {
	font-style: normal;
	font-weight: 100;
}

.font-extralight-italic {
	font-style: italic;
	font-weight: 200;
}

.font-light {
	font-style: normal;
	font-weight: 300;
}

.font-light-italic {
	font-style: italic;
	font-weight: 300;
}

.font-size-medium {
	font-size: 1.75rem;
	letter-spacing: -0.08rem;
}

.font-size-small {
	font-size: 1.4rem;
	letter-spacing: -0.1rem;
}

.font-color-black {
	color: var(--page-c1);
}

.font-color-white {
	color: var(--page-c4);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline
}

/* custom color for navbar links */
li a {
	color: var(--page-c2);
	text-decoration: none;
	transition: color 0.2s;
}

/* custom hover color for navbar links */
li a:hover {
  color: var(--page-c1);
}

#contact a:link {
	color: #8080ff;
}

#contact a:visited {
	color: #9966cc;
}

.background {
	background-position: 50% 0;
}

.background-overlay {
	position: absolute;
	left: 2rem;
	top: 2rem;
	width: calc(100vw - 4rem);
	height: calc(100vh - 4rem);
	margin: 0;
	padding: 0;
}

.navbar {
	align-items: center;
	background-color: var(--navbar-bg);
	border-radius: 2.5rem;
	display: inline-flex;
	height: 5rem;
	left: 0;
	top: 0;
	position: absolute;
	width: fit-content;
}

/* black circle */
#a-logo-wrapper {
	background-color: var(--page-c1);
	border-radius: 50%;
	aspect-ratio : 1 / 1;
	height: 75%;
	left: -0.8rem;
	position: relative;
	margin-left: 1.5rem;
}

#a-logo-img-wrapper {
	height: 60%;
	width: 60%;
	/* center div */
	position: absolute;
	top: 50%;
	left: 50%;
	/* half of height and width */
	margin-top: -30%;
	margin-left: -30%;
}

#a-logo-img-wrapper img {
	width: 100%;
	object-fit: contain;
	margin: auto;
}

/* navbar styling */
.navbar-list {
	display: flex;
	margin-right: 0.8rem;
}

.nav-button {
	padding: 0 1rem 0;
}

.hamburger-menu {
	display: none;
}

/* main info styling (name and description at bottom of desert image) */
.main-info {
	position: absolute;
	bottom: 0;
}

.main-text-wrapper {
	background-color: var(--main-info-bg);
	border-radius: 1.2rem;
	position: relative;
	height: fit-content;
	width: fit-content;
}

.main-name {
	position: relative;
	left: 1rem;
	width: fit-content;
	margin-bottom: -0.5rem;
	padding-top: 0.5rem;
}

#main-description {
	position: relative;
	height: fit-content;
	padding-bottom: 1rem;
	left: 1rem;
	padding-right: 1rem;
	margin-right: 1rem;
}

.bg-c1 {
	background-color: var(--page-c1);
}

.bg-c4 {
	background-color: var(--page-c4);
}

.bg-c6 {
	background-color: var(--page-c6);
}

.main-element {
	position: relative;
	width: 100vw;
	height: fit-content;
	display: inline-flex;
}

.main-element-wrapper {
	position: relative;
	height: fit-content;
	width: 100%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.centered-vertical {
	position: relative;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.centered {
	position: relative;
  top: 50%;
	left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flex {
	display: flex;
}

#intro {
	top: 100vh;
}

#intro-text {
	flex: 2;
}

#intro-image-box {
	flex: 1;
}

#intro-image-circle {
	position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	border-radius: 50%;
	width: 15rem;
	height: 15rem;
	background-color: var(--page-c5);
}

#intro-img-wrapper img {
	position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	height: 13rem;
	width: 13rem;
	object-fit: cover;
	border-radius: 50%;
}

#skills {
	position: relative;
	top: 100vh;
	width: 100vw;
}

.header-wrapper {
	flex: 2;
	width: fit-content;
	height: fit-content;
	margin-bottom: 2rem;
}

#skills-icons-wrapper {
	width: 100%;
}

.icons-row {
	margin-left: 20%;
	margin-right: 20%;
	display: flex;
	margin-top: 2rem;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.icon-wrapper {
	flex-basis: 100%;
	max-width: 10rem;
	display: flex;
	height: fit-content;
	flex-direction: column;
  align-items: center;
	margin-bottom: 4rem;
}

.icon-img-wrapper {
	width: 10rem;
	display: flex;
  justify-content: center;
}

.icon-img-wrapper img {
	object-fit: cover;
	max-height: 8rem;
	left: 50%;
}

.icon-text-wrapper {
	text-align: center;
	margin-top: 0.6rem;
}

#experience {
	top: 100vh;
	height: fit-content;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 55%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid var(--page-c5);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -5%;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--page-c7);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--page-c7);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--page-c7);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--page-c7) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: var(--page-c4);
  position: relative;
  border-radius: 6px;
}

.timeline-subtitle {
	padding-bottom: 0.5rem;
	margin-top: 0.2rem;
}

/* timeline date for left containers (appears on right) */
.timeline-date-left {
	position: absolute;
	left: calc(100% + 80px);
	top: 7.5px;
	width: 100%;
}

/* timeline date for right containers (appears on left) */
.timeline-date-right {
	position: absolute;
	font-style: normal;
	font-weight: 100;
	letter-spacing: -0.1rem;
	font-size: 1.4rem;
	right: calc(100% + 80px);
	top: 7.5px;
	width: 100%;
	text-align: right;
}

#projects {
	top: 100vh;
	height: fit-content;
}

#projects-wrapper {
	height: fit-content;
	margin: 0 auto;
	width: 75%;
	padding-top: 2.5%;
}

.project {
	border-radius: 1.5rem;
	display: flex;
	flex-direction: row;
	margin-bottom: 3rem;
}

.project-text-wrapper {
	margin: 1.5rem;
	position: relative;
}

.project-img-wrapper {
	display: flex;
	align-items: center;
}

.project-img-wrapper img {
	width: 15rem;
	height: 15rem;
	border-radius: 1rem;
	margin: 2rem;
}

.project-links-wrapper {
	position: relative;
	display: flex;
	vertical-align: bottom;
	margin-top: 1rem;
	padding: 0 0.5rem;
	background-color: var(--page-c1);
	width: fit-content;
	height: 4rem;
	border-radius: 2rem;
}

.project-link-1 {
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	left: 0.5rem;
	padding-right: 1rem;
	color: var(--page-c4)
}

.project-link-1 img {
	height: 1em;
	position: relative;
	margin-right: 0.6rem;
}
.project-link-1 a {
	color: var(--page-c4);
	justify-content: center;
}

#contact {
	top: 100vh;
	height: fit-content;
}

#footer-main-element-wrapper {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

#contact-wrapper {
	display: flex;
}

/* adjust navbar on screens < 1000 px wide */
@media screen and (max-width: 1000px) {
	h1 {
		letter-spacing: -0.35rem;
		font-size: 3rem;
	}

	.font-size-medium {
		font-size: 1.25rem;
		letter-spacing: -0.06rem;
	}
	
	.font-size-small {
		font-size: 1rem;
		letter-spacing: -0.06rem;
	}

	.navbar {
		aspect-ratio: 1 / 1;
	}

	.navbar-items {
		display: none;
	}
	
	#hamburger-menu {
		display: inline;
		display: inline-flex;
		height: 5rem;
		right: 0;
		top: 0;
		position: absolute;
		width: 5rem;
	}

	#hamburger-menu-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		row-gap: 30%;
		padding: 1.25rem 1rem;
	}

	.hamburger-menu-bar {
		background-color: black;
		height: 1rem;
		border-radius: 100rem;
	}
	
	.nav-button {
		padding: 0 0.5rem 0;
	}

	.icons-row {
		margin: 0;
	}
	
	.icon-wrapper {
		flex: 1 1 0px;
		margin-bottom: 2rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
	
	.icon-img-wrapper {
		width: 5rem;
	}
	
	.icon-img-wrapper img {
		max-height: 4rem;
	}

	.timeline-date-left {
		position: relative;
		left: 0;
		top: 0.5rem;
		width: 100%;
	}
	
	.timeline-date-right {
		position: relative;
		left: 0;
		top: 0.5rem;
		width: 100%;
		text-align: left;
	}

	.project-img-wrapper img {
		width: 10rem;
		height: 10rem;
		margin: 1.3rem;
	}

	.project-links-wrapper {
		height: 2.75rem;
	}
}

/* adjust timeline on screens < 600 px wide */
@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
	
	.container::before {
    left: 60px;
    border: medium solid var(--page-c7);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--page-c7) transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

	.left {
		left: 0%;
	}

  .right {
    left: 0%;
  }
	
	#projects-wrapper {
		width: 100%;
	}
	.project-img-wrapper img {
		width: 8rem;
		height: 8rem;
		margin: 1rem;
	}
}

@media screen and (max-width: 400px) {
	h1 {
		letter-spacing: -0.20rem;
		font-size: 2rem;
	}

	.font-size-medium {
		font-size: 1.2rem;
		letter-spacing: -0.07rem;
	}
	
	.font-size-small {
		font-size: 0.85rem;
		letter-spacing: -0.08rem;
	}
}